@font-face { font-family: 'b nazanin'; src: url('../fonts/bnazanin.ttf'); }
.description
{
margin-top: 0.28cm;
width: 4.95in;
float: right;
margin-right:0.7cm;
}
.signatureright
{
margin-top: 4mm;
width: 8cm;
float: right;
margin-right:0.7cm;
}
.signatureleft
{
margin-top: 7mm;
width: 0cm;
float: left;
margin-left:0.7cm;
}
.logocontainer{
position: absolute;
width: 100%;
top: 0mm;
text-align: center;
z-index: 1;
}
.footbar
{
border-top:3px #000000 solid;
position: absolute;
bottom:0;
height:1.05in;
width:4.95in;
margin-top:7mm;
}
.footbar p
{
font-size: 12pt;
}
table {
width: 140mm;
font-family:'b nazanin';
font-size:12pt;
margin-right:3mm;
border-collapse:collapse;
position:relative;
z-index:1;
}
td{
width:5mm;
border:1px solid #666666;
padding:0.5mm;
}
.customername
{
font-family:'b nazanin';
font-size:15pt;
margin-top:-5.6mm;
margin-bottom:3.5mm;
}
.logoname
{
font-family:'b nazanin';
font-size:13pt;
margin-top:-1.4mm;
}
.productname{
width:68mm;
border:1px solid #666666;
padding:0.5mm;
}
.productcode
{
width:10mm;
}
.productdescription{
width:35mm;
border:1px solid #666666;
padding:2px;
}
p{
text-align:right;
width:100%;
font-size:12pt;
}
.head td{
background:#eee;
font-weight:bold;
border:1px solid #666666;
padding:2px;
}
body{
direction:rtl;
font-family:'b nazanin';
text-align:center;
}
.headbar
{
width:100%;
height:23mm;
border-bottom:3px #000000 solid;
margin-bottom:7mm;
}
.logo{
width:14mm;
}
.headbarleft
{
width: 35mm;
position: absolute;
top: 2mm;
left: 0;
z-index: 1;
}
.headbarleft p{
text-align:  right;
font-size: 13pt;
line-height:3mm;
}
.rightsweet
{
position:absolute;
right:0.7cm;
color:#eee;
writing-mode: vertical-rl;
top:105mm;
height:'100%';
width:'100%',
z-index:0;
}
.pagenumber
{
    width:100%;
    display:none;
    text-align:center;
    font-size:12pt;
    position:relative;
    bottom:-15mm;
}
@page{
size: 4.95in 6.475in;
border:1px solid #000;
}
@media print {
html, body {
	width: 148mm;
	height: 210mm;
}
}
