<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ir.sweetsoft.ocms">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:appCategory="video"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:isGame="false"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"

        android:name="ir.sweetsoft.sweetlibone.Activities.sweetApp"
        android:theme="@style/AppTheme"
        tools:replace="android:icon"
        tools:targetApi="o">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="ir.sweetsoft.sweetlibone.Activities.PlayerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_player"
            android:screenOrientation="landscape"
            android:theme="@style/FullscreenTheme" />
        <activity android:name="ir.sweetsoft.sweetlibone.Activities.MessageActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="marefatdanesh"
                    android:pathPattern=".*"
                    android:pathPrefix="/"
                    android:scheme="marefatdanesh" />
            </intent-filter>
        </activity>
        <activity android:name="ir.sweetsoft.sweetlibone.Activities.MusicPlayerActivity"></activity>
    </application>

</manifest>